<h1>Products</h1>
<% if @products.count > 0 %>
    <ul>
    <% @products.each do |p| %>
      <li>
        <a target="_blank" href="<%= p[:link] %>" ><%= p[:name] %></a> - 
        <a target="_blank" href="https://distiller.com/search?term=<%= p[:name] %>">[Distiller Site]</a>
        <% if p[:message] != "" %>
          <ul><li><%= p[:message] %></li></ul>
        <% end %>
      </li>
    <% end %>
    </ul>
<% else %>
    <h2> No Results </h2>
<% end %>   