<h1>Stores</h1>
<% if @stores.count > 0 %>
    <ul>
    <% @stores.each do |s| %>
      <li><a target="_blank" href="<%= s[:link] %>" ><%= s[:name] %> - <%= s[:address] %></a></li>
    <% end %>
    </ul>
<% else %>
    <h2> No Results </h2>
<% end %>   