<% if @stores.count > 0 %>
    <% @stores.each do |store| %>
      <h3><a target="_blank" href="<%= store[:link] %>"><%= store[:name] %></a></h3>
      <div><%= store[:address] %></div>
      <div><%= store[:availablity] %></div>
      <ul>
        <% store[:products].each do |product| %>
          <li><%= product[:name] %></li>
        <% end %>
      </ul>
    <% end %>
<% else %>
    <h2> No Results </h2>
<% end %>   